body{
    background-color: blueviolet;
    margin: 0;
    font-family: Helvetica, sans-serif;
}
.main{
    width: 500px;
    height: 630px;
    border: 5px solid burlywood;
    margin: 0 auto;
    color: white;
    box-sizing: border-box;
   border-radius: 5px;
}
.main h1 {
    text-align: center;
    color: white;
    margin: 0;
}

h3{
    margin: 0px;
}
.optionCont{
    margin: 20px;
}

.Details {
    display: block;
    width:450px;
    height:30px;
    border: none;
    border-radius: 5px;
}

div{
    margin: 15px 15px 15px 25px;
}

select{
    width: 135px;
    height: 30px;
    background-color: rgb(246, 138, 5);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-family: serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 0 20px;
    
}

select option{
    height: 30px;
}

option:checked{
    background-color: green;
}

input[type="date"] {
    color: rgb(0, 0, 0);
    font-size: 18px;
    height: 30px;
    width: 150px;
    position: relative;
    border-radius: 10px;
    border: 0px;
}

button{
    width: 450px;
    height: 40px;
    border-radius: 15px;
    color: white;
    background-color: orange;
    border: none;
    font-size: 19px;
    margin: 20px;
}

p{
    margin: 0px;
   
}
label{
    margin-bottom: 5px;
}
button:hover{
    background-color: rgb(16, 251, 98);
}
/* input[type="text"]{
    display: block;
    width:250px;
    height:30px;
   
}
input[type="email"]{
    display: block;
    width:250px;
    height:30px;
} */
